/* General Reset */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, 
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #000000;
    padding: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
    text-align: center;
    color: #b0a4a4;
}

/* Paragraphs */
p {
    margin-bottom: 15px;
}

/* Links */
a {
    color: #86f3ab;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/* Lists */
ul, ol {
    margin: 15px 0;
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Forms */
input, textarea, select, button {
    font-family: inherit;
    font-size: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

video {
    max-width: 100%;
    height: auto;

}

#video, #camp, #phone {
    margin-bottom: 20px;
    text-align: center;
}

#footer {
    margin-top: 20px;
    text-align: right;
    color: #b0a4a4;
}